<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>second hand furniture</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
<form action="/search" method="get">
  <input type="text" name="query"/><br />   
  <button type="submit">Search by item</button>
</form>
<div class="top">
   <% if logged_in?%>
logged in as <%= current_user.email %>
    <form action='/session' method='post'>
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>
<% end %>

   <div><a href="/">HOME</a></div>
 <div><a href="/login">login</a></div>
 <div><a href="/signup">Sign up</a></div>
<a href="/items/new">Post new ad</a>
</div>
  <%= yield %>

</body>
</html>