<h1>Login</h1>
<form action="/session" method="post">
    <div><label for="">Email: </label>
    <input class="loginbox" name="email" type="text"></div>
    <div><label for="">Password :</label>
    <input class="loginbox" name="password" type="password"></div>
    <button class="but">Login</button>
    <h5>Havent got an account yet?</h5>
    <a href="/signup">Sign up</a>
 </form>