
<h1>Post an ad</h1>
<% @item && @item.errors.full_messages.each do |message| %>
    <p><%= message %></p>
<% end %>
<div class="newitem">
    <form action="/items" method="post">
        <div><label for="">Item name: </label>
        <input class="inputbox" name="name" type="text"></div>
        <div><label for="price">Price: </label>
        <input class="inputbox" name="price"type="text"></div>
        <div><label for="">Price type: </label>
        <input class="inputbox" name="pricetype"type="text"></div>
        <div><label for="">Location: </label>
        <input class="inputbox" name="location"type="text"></div>
        <div><label for="">Description: </label>
        <input class="inputbox" name="description" type="text"></div>
        <button class="but" >Save details</button>
    </form>
</div>
