<% @item && @item.errors.full_messages.each do |message| %>
    <p><%= message %></p>
<% end %>
<div class="post">
<form action="/items" method="post">
    <div><label for="">Item name:</label>
    <input name="name" type="text"></div>
    <div><label for="price">Price:</label>
    <input name="price"type="text"></div>
    <div><label for="">Price type:</label>
    <input name="pricetype"type="text"></div>
    <div><label for="">Location:</label>
    <input name="location"type="text"></div>
    <div><label for="">description</label>
    <input name="description" type="text"></div>
    <button >Save details</button>
</form>
</div>
