<% @item && @item.errors.full_messages.each do |message| %>
    <p><%= message %></p>
<% end %>


<form action="/items" method="post">
<label for="">Item name:</label>
<input name="name" type="text">
<!--<label for="">Image:</label>
<input name="image" type="text">-->
<label for="price">Price:</label>
<input name="price"type="text">
<label for="">Price type:</label>
<input name="pricetype"type="text">
<label for="">Location:</label>
<input name="location"type="text">
<label for="">description</label>
<input name="description" type="text">
<button >Post your ad!</button>
</form>