<% @user && @user.errors.full_messages.each do |message| %>
    <p><%= message %></p>
<% end %>
<h1>register</h1>
<form action="/signupdetails" method="post">
    <label for="">Your name:</label>
    <input name="name" type="text">
    <label for="">Your mobile:</label>
    <input type="text" name="tel" id="">
    <label for="">Your email:</label>
    <input name="email" type="text">
    <label for="">Password</label>
    <input name="password" type="password">
    <button>Register</button>
    <h5>Do you have an accout?</h5>
    <a href="/login">Login</a>
 </form>