<% @user && @user.errors.full_messages.each do |message| %>
<p><%= message %></p>
<% end %>
<h1>Sign up</h1>
<form class="signupform"action="/signupdetails" method="post">
    <div>
        <label for="">Name: </label>
        <input class="signupbox"name="name" type="text">
    </div>
    <div>
        <label for="">Mobile: </label>
        <input class="signupbox"type="text" name="tel" id="">
    </div>
    <div>
        <label for="">Email: </label>
        <input class="signupbox"name="email" type="text">
    </div>
    <div>
        <label for="">Password: </label>
        <input class="signupbox"name="password" type="password">
    </div>
    <button class="but">Sign up</button>
    <h5>Do you have an account?</h5>
    <a href="/login">Login</a>
 </form>